.back{
    background-color: red;
    }

.removed{
}

.neutral{
}

.one,.two{
    border-style: solid;
    border-width: 0.25rem;     
}

.one{
    border-color: red;
}

.two{
    border-color: blue;
}

.card {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    cursor: pointer;
}